$font-color: #dedede;
$background-color: #0a102ee1;
$background-alternative-color: #0a102e;
$border: #0a102efd;
$font-title: #0a102e30;
$hover: #dedede;
$other-color: #0a102e79;
$box-shadow: #101010;
$css-box: #5775ed;
$html-box: #f82323;
$javascript-box: #df8406;
$php-box: #545b7b;
$python-box: #1bb879;
$git-box: #f75fe0;
$sqlite-box: #8b2ce4;
$code: #d4e6ff;
$code-font: #000;
$reports: #ff00003b;
