$font-color: #121212;
$background-color: #f8f8f8;
$background-alternative-color: #d4e6ff;
$border: #407bc0;
$font-title: #121212;
$hover: #121212;
$other-color: #f8f8f8;
$box-shadow: #101010;
$css-box: #5775ed;
$html-box: #f82323;
$javascript-box: #f7de3e;
$php-box: #545b7b;
$python-box: #1bb879;
$git-box: #f75fe0;
$sqlite-box: #8b2ce4;
$code: #d4e6ff;
$code-font: #000;
$reports: #ff00005b;
